<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.InterAssist.Properties.Settings.ConnectionString"
            connectionString="Provider=MSDAORA;Data Source=127.0.0.1;Password=inter123;User ID=iassist"
            providerName="System.Data.OleDb" />
        <add name="DAL.InterAssist.Properties.Settings.ConnectionString1"
            connectionString="DATA SOURCE=LOCALHOST;PASSWORD=inter123;USER ID=IASSIST"
            providerName="Oracle.DataAccess.Client" />
    </connectionStrings>
</configuration>